:root {
  /* === Colors === */
  --color-grey-900: #2a4144;
  --color-grey-500: #86a2a5;
  --color-white: #fff;
  --color-green-600: #0c7d69;
  --color-green-200: #e0f1e8;
  --color-red: #d73c3c;
  --linear-gradient-color: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), var(--color-green-600, #0c7d69);
  /* === Typography === */
  --font-main: "Karla", sans-serif;
}